

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOD/PI (for external projects only)</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
    <style>
        input{
			border-width: 0px;
		}
		.dropdown {
		display: inline-block;
		position: relative;
		}
		.dropdown-content {
		display: none;
		position: absolute;
		width: 100%;
		overflow: auto;
		box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
		}
		.dropdown:hover .dropdown-content {
		display: block;
		}
		.dropdown-content a {
		display: block;
		color: #000000;
		padding: 5px;
		text-decoration: none;
		background-color: antiquewhite;
		}
	</style>
</head>
<body>
    <nav class="navbar navbar-default">
		<div align="left">
			<h4>भारतीय प्रौद्योगिकी संस्थान रोपड़<br>
				INDIAN INSTITUTE OF TECHNOLOGY ROPAR</h4>
			<h6><strong>Indent for Purchases Below Rs. 25000</strong></h6>
		</div>
		<div align="right">
			<div style="padding: 10px; text-align: center;" class="border">
				<div class="dropdown">
					<h4 class="bottom">
						Hi {{session.username}}!
					</h4>
					<div class="dropdown-content" style="text-align: left;">
					  <a href="#">My Profile</a>
					  <a href="#">My Applications</a>
					  <a href="#">Contact us</a>
					  <a href="{{ url_for('logout') }}" class="btn" style="text-align: left;">
						<h6>Logout<h6>
					  </a>
					</div>
				</div>
				<br/>
				
			</div>
		</div>
	</nav>
    <div align="center"><h1>HOD/PI (for external projects only)</h1></div>
    <div align="bottom"  style="color: green; text-align: center; padding-top: 50vh;">
        <table class="table table-bordered">
            <thead>
                <th scope="col">For use by Budget Section</th>
            </thead>
            <tbody id="tBody">
                <tr>
                    
                </tr>
            </tbody>
            
            
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax@</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button onclick="calculateTotal()">Total</button></td>
                    <td><input type="text" name="name" id="calcTotal"/></td>
                </tr>
            </tbody>
          </table>
    </div>
    <div align="center" style="padding-top: 20vh; padding-bottom: 8vh;">
        <div align="bottom">
            <button>Previous</button>
            <button>Next</button>
        </div>
    </div>
</body>
</html>